<h1>Welcome to your own personal Movie Library!</h1>

<% if signed_in? %>
<div class="center">
	<%= link_to '<button type="button" class="btn btn-lg btn-info">View All Movies</button>'.html_safe, movies_path %>
<div>
<% else %>
	<div class="center">
		<%= link_to '<button type="button" class="btn btn-lg btn-info">Sign In</button>'.html_safe, signin_path %>
	</div>
<% end %>