<h1>New Movie</h1>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-3">
			<%= link_to '<button type="button" class="btn btn-warning">Back to All Movies</button>'.html_safe, movies_path %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-3 col-md-6 well">
			<%= render 'form' %>
		</div>
	</div>
</div>