<div class="center">
	<h1>Hello <%= @user.name %>!</h1>
	<h4>You currently have <%= pluralize(@movies.count, 'movie') %> in your library and <%= pluralize(@wishlist_movies.count, 'movie') %>  in your wishlist.</h4><br>

	<%= link_to '<button type="button" class="btn btn-warning">Back to All Movies</button>'.html_safe, movies_path %>
</div>