<h1 class="text-primary">Jason's Wishlist</h1>
<br>

<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <%= render 'table_body' %>
    </table>
  </div>
</div>

<%= link_to '<button type="button" class="btn">Return to All Movies</button>'.html_safe, movies_path %>