<div class="javascriptNotEnabled center bg-danger">
    Your browser does not appear to have JavaScript enabled. Please be advised that some
    functionality may be missing as a result.
</div>
<p class="text-info">If search is not working, try refreshing the page. It's probably a Firefox problem.</p>
<input id="search_text" type="text" class='searchField'/>
<button class="btn btn-primary" id="search_button">Search</button>
<br>
<div id="search_body">
</div>