<h1><%= @user.name %>'s Movie Night Selections</h1>
<br>
<% unless  @movienight_movies.count == 0 %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-3">
      <%= link_to '<button type="button" class="btn btn-info">Choose a random unwatched movie</button>'.html_safe, randommovie_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <table id="movienight_table" class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Delete</th>
          </tr>
        </thead>

        <%= render 'table_body' %>
      </table>
    </div>
  </div>
</div>


<br><br>
<% else %>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 well">
      <h3 class="center">You don't have any unwatched movies!</h3>
    </div>
  </div>
</div>

<% end %>