<h3 class="center">We suggest watching <strong><%= @random_movie.title %></strong><br> or you can <%= link_to 'choose another random movie', randommovie_path %>.</h3>
<br><br>
<%= link_to '<button type="button" class="btn btn-warning">Return to Unwatched Movies</button>'.html_safe, movienight_path %>